<div 
    *ngFor="let q of questions; let i = index" 
    [attr.data-index]="i" 
    class="clr-row"
>
    <div class="clr-col-lg-10 clr-col-12">
        <div class="card">
            <div class="card-header">
                Question {{i+1}}
            </div>
            <div class="card-block">
                <div class="card-media-block">
                    <div class="card-media-description">
                        <span class="card-media-title">
                            <clr-input-container> 
                                <input clrInput required
                                type="text" 
                                [(ngModel)]="q.title"
                                placeholder="Sing Ma House" 
                                name="title" 
                                />
                                <clr-control-helper>Title</clr-control-helper>
                            </clr-input-container>
                        </span>
                        <span class="card-media-text">
                            <clr-input-container> 
                                <input clrInput required
                                    type="text" 
                                    [(ngModel)]="q.subtitle"
                                    name="subtitle" 
                                />
                                <clr-control-helper>Sub-title</clr-control-helper>
                            </clr-input-container>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">Action</button>
            </div>
        </div>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col-lg-10 clr-col-12">
        <div class="card add-question" (click)="addQuestion()" #scrollHere>
            <div>
                <clr-icon 
                    shape="plus" 
                    size="20"
                    style="margin-right: 4px; vertical-align: text-top;"
                ></clr-icon>
                <span>Add another question</span>    
            </div>
        </div>
    </div>
</div>