.card {
    &.add-question {
        padding: .5rem;
        border-style: dashed;
        border-width: medium;
        border-radius: 4px;
        box-shadow: none;
        background-color: #EEEEEE;

        > div {
            text-align: center;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
}