<form clrForm clrLayout="vertical">
    <div>
        <clr-input-container> 
            <input clrInput required
            type="text" 
            [(ngModel)]="poll.title" 
            placeholder="What to eat for lunch?" 
            name="title" 
            />
            <clr-control-helper>Title</clr-control-helper>
        </clr-input-container>
        <clr-input-container> 
                <input clrInput
                type="text" 
                [(ngModel)]="poll.description" 
                name="description" 
                />
                <clr-control-helper>Description</clr-control-helper>
            </clr-input-container>
    </div>
    <app-create-questions></app-create-questions>
</form>
