<h1>Quadratic Voting</h1>
<div>
    <a routerLink="/create">
        <button class="btn btn-warning">Create your poll!</button>
    </a>
    <a routerLink="#"> 
        <button class="btn btn-primary">Explore polls</button>
    </a>
</div>
