<table class="table">
    <thead>
        <tr>
            <th class="left g-8">Topics</th>
            <th class="g-4">Vote(s)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="left g-8">Harry</td>
            <td class="g-4">Yes</td>
        </tr>
    </tbody>
</table>